
body {
    background-color: var(--bg);
    color: var(--primary-color);
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    

}

body.light{
    --bg: #ffffff;
    --primary-color: #020c1b;
    --heading-color: #0a192f;
    --link-color: #5b3acc;
    --tertiary-color: #fdfff5;
    --tertiary-color: #dedede;
    --secondary-color: var(--link-color);
    /* transition: background-color 0.1s ease; */
}

body.dark{
    --bg: #0a192f;
    --primary-color: #ccd6f6;
    --heading-color: #e6f1ff;
    --link-color: #64ffda;
    --tertiary-color: #172a45;
    --secondary-color: var(--link-color);
}